  .article_wheel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #selected_article {
    flex : 0 0 60%;
    max-width : 60%;
  }

  .top-image {
    width: 100%;
    padding: 0px 10px 0px 10px;
    float: left !important;
    margin-bottom: 11px;
  }

  .top-article {
    float: left !important;
    min-width: 100%;
    max-width: 100%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding : 2px;
    margin-left : -2px;
    margin-right : -2px;
    margin-bottom : 10px;
    border-style: solid;
    border-width: 1px;
  }

  .article-thumbnail img {
    max-width: 100%;
  }

  .image-preview {
    max-width: 50%;
    padding: 10px;
    float: left !important;
  }

  .text-preview {
    word-break: break-word;
  }

  .hidden {
    display: none;
  }

  #top_articles {
    max-width: 40%;
    min-width: 40%;
  }

@media screen {

  body {
    background-color: lightblue;
  }

  .content {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
  }

  .col-1, .col-offset-1 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .col-2, .col-offset-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-3, .col-offset-3 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .col-4, .col-offset-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-5, .col-offset-5 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  .col-6, .col-offset-6 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-7, .col-offset-7 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  .col-8, .col-offset-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .padded {
    padding : 10px;
  }

  .article-thumbnail {
    max-width: 25%;
    min-width: 25%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left : -2px;
    margin-right : -2px;
    border-style: solid;
    border-width: 1px;
  }

  #top_article_image {
    width : 30%;
  }

  .bottom-left {
    position: absolute;
    bottom: 60px;
    left: 35px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    word-break: break-word;
    max-width: 55%;
  }

  .article-element {
    width: 100%;
  }

  .article-textarea {
    height: 570px;
  }

  .float-left {
    float: left !important;
  }

  pre {
    width: 100%;
    max-width: 100%;
    word-break: break-all;
    border-style: inset;
  }

  ul {
   list-style-position: inside;
  }

  .selected {
    background: lightblue;
  }

  .screen-hidden {
    display: none;
  }

}

@media print {
  .article-thumbnail {
    max-width: 24%;
    min-width: 24%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding : 4px;
    margin : 4px 4px 4px 1px;
    border-style: solid;
    border-width: 1px;
    height: 250px;
  }

    .col-1, .col-offset-1 {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }

    .col-2, .col-offset-2 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-3, .col-offset-3 {
        flex: 0 0 37.5%;
        max-width: 37.5%;
    }

    .col-4, .col-offset-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-5, .col-offset-5 {
        flex: 0 0 62.5%;
        max-width: 62.5%;
    }

    .col-6, .col-offset-6 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-7, .col-offset-7 {
        flex: 0 0 87.5%;
        max-width: 87.5%;
    }

    .col-8, .col-offset-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

  .print-hidden {
    display : none;
  }
}
